*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 1000;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:aliceblue;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    height: 350px;
    box-shadow: 0 0 10px rgb(226, 166, 166), 
    0 0 10px rgb(236, 236, 236),
    0 0 10px rgb(255, 254, 254); 
}
h2{
    margin-top: 20px;
}

.main {
    margin-bottom: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing:border-box;
    border: .1px solid #908c8c;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #bdf6f6;
    color: rgb(77, 70, 70);
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background:transparent;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}
